@import '../../../../../src/styles/variables';
.projects {
    margin-top: 2.5rem;
    .subtitle {
        a {
            color:$base-color;
        }
    }
    .projects-wrapper {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        padding: 2rem 0 4rem;
        @media screen and (max-width: $break-medium) {
            grid-template-columns: auto auto ;
          }
          @media screen and (min-width: $break-large) {
            grid-template-columns: auto auto auto;
          }
          @media screen and (max-width: $break-small) {
            grid-template-columns: auto;
          }
        .card {
            position: relative;
            flex: 1 1;
            flex-basis: 22%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2em;
            margin-right: 2em;
            border-radius: 15px;
            overflow: hidden;
            object-fit: cover;
            @media screen and (max-width: $break-small) {
                padding: 1em;
                margin: 1em 0;
            }
            @media screen and (min-width: $break-medium) {
                padding: .5em;
            }
            @media screen and (min-width: $break-large) {
                padding: 2.5em;
            }
            @media screen and (min-width: $break-pc) {
                padding: 1.5em;
            }
            img {
                transition: 0.25s ease-in-out;
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                pointer-events: none;
            }
            &.kinbox {
                background-color: $kinbox-base;
            }
            &.ganhomais {
                background-color: $ganhomais-base;
            }
            &.carmais {
                background-color: $carmais-base;
            }
            &.somapay {
                background-color: $somapay-base;
                border: 1px solid $somapay-base;
            }
            .caption {
                flex: 1 1;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .title {
                    color: white;
                    font-size: 20px;
                    @media screen and (max-width: $break-small) {
                        // margin-bottom: 0;
                    }
                    @media screen and (min-width: $break-large) {
                    // margin-bottom: 0;
                    }
                }
                a {
                    color: white;
                    font-size: 18px;
                    border: 1px solid $base-color;
                    padding: 20px 40px;
                    margin: 20px;
                    border-radius: 100px;
                    text-align: center;
                    white-space: nowrap;
                    transition: 0.25s ease-in-out;
                }
                a:hover {
                    transition: 0.25s ease-in-out;
                    background-color: $base-color;
                }
            }
        }:hover img {
            transition: 0.25s ease-in-out;
            opacity: 0;
            transform: scale(1.1);
        }
    }
}