// Colors
$base-color: #00bdc5;
$secondary-color: #006367;
$kinbox-base: #0080f2;
$ganhomais-base: #0764cb;
$carmais-base: #a21119;
$somapay-base: #5C257F;

// Widths
$break-small: 420px;
$break-medium: 768px;
$break-large: 1024px;
$break-pc: 1200px;