@import '../../../../styles/variables';

.top-nav-item {
    /* width: 100px; */
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s ease;
    a {
        padding: 20px 25px;
        color: $base-color;
    }
    &.rounded {
        cursor: pointer;
        border-radius: 100px;
        border: 2px solid $base-color;
    }&:hover {
        transition: 0.3s ease;
        background-color: $base-color;
        a {
            color: white;
        }
    }
}

