@import '../../../src/styles/variables';

.contact {
    .wrapper {
    }
    .form {
        button {
            background-color: white;
            border:1px solid $base-color;
            color: $base-color;;
            padding: 20px 80px;
            transition: 0.25s ease;
            border-radius: 100px;
            font-size: 20px;
            font-weight: bolder;
            margin: 2em auto;
            &:hover {
                cursor: pointer;
                transition: 0.25s ease;
                color: white;
                background-color: $base-color;
            }
        }
        display: flex;
        flex-direction: column;
        .container-form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .input-group {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: 10px;
            .success {
                margin: 20px 0;
                color: $base-color;
                font-size: 24px;
            }
            input {
                border:1px solid #E6ECF8;
                font-size: 1.4rem;
                font-weight: 300;
                padding: 10px;
                border-radius: 5px;
            }
            label {
                font-weight: 400;
                font-family: "eurostile", sans-serif;
                font-size: 1.2rem;
                color: rgba(41, 51, 71, 0.65);
                margin-bottom: 10px;
            }
            .details {
                border:1px solid #E6ECF8;
                font-size: 1.4rem;
                font-weight: 300;
                padding: 10px;
                border-radius: 5px;

            }
        }
    }
}
