.container {
    max-width: 1344px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.primary-color {
    color: purple;
}

.primary-bg-color {
    color: purple;
}

.column {
    display: block;
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
    flex-direction: column;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-body {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
}